name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.18.3"
          otp-version: "27.1"
      - uses: dtolnay/rust-toolchain@stable
      - name: Install deps
        run: mix deps.get
      - name: Run tests
        run: mix test
